<div class="layui-fluid" id="aloha-error-404" lay-title="页面不存在">
    <div class="layui-row layui-col-space10" style="margin-top:100px">
        <div class="layui-col-xs3 layui-col-xs-offset2">
            <img data-th-src="@{aloha/images/error/404.svg}" alt="" width="85%"/>
        </div>
        <div class="layui-col-xs7">
            <h1 style="font-size: 60px">404</h1>
            <h2 class="aloha-mar-b20 aloha-c-gray">抱歉，你访问的页面不存在</h2>
            <button class="layui-btn layui-btn-normal">
                返回首页
            </button>
        </div>
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery'], function () {
        const $ = layui.jquery, $view = $('#aloha-error-404');
        $view.on('click', 'button', function () {
            window.location.href = ctx + 'index';
        });
    });
</script>